.main {
  padding: 0px;
  margin: 0 ;
  flex: 1; /* Se você estiver usando Flexbox para layout */
  display: flex;
  flex-direction: column; /* Ajuste conforme necessário */
  align-items: center; /* Ajuste conforme necessário */
}

